.video-container {
  margin: 1rem auto;
  width: 60%;
}

.view-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 100%;
}

.someref {
  position: fixed;
  left: 0;
}

.view-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media (max-width: 500px) {
  .video-container {
    width: 100%;
  }

  .video-container p {
    padding: 0 1rem;
  }
}
